<div class="container">
  <div class="row">
    <div class="field">
      <%= form_tag workspace_path(@workspace), :method => :get, class: "navbar-form navbar-left" do %>
        <%= select_tag :workspace_id, options_from_collection_for_select(@workspaces, :id, :name),
          prompt: t(".workspaces"), onchange: "this.form.submit();" %>
      <% end %>
    </div>
    <%= form_tag workspace_path(@workspace),
      method: "GET", id: "search_position",
      class: "navbar-form navbar-left" do %>
      <%= text_field_tag :search, params[:search],
        placeholder: t(".search_user_or_deskcode"), class: "form-control" %>
      <div id = "result_search"></div>
    <% end %>
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="myTable">
          <h1><%= @workspace.name %></h1>
          <h2><%= t ".number_of_staffs" %>
            <%= @users_size %></h2>
          <% if @positions.present? %>
            <% for i in 1..@positions.max.row %>
              <tr>
                <% for j in 1..@positions.max.column %>
                  <td class="td_position_<%=i%>_<%=j%>">
                    <%= link_to image_tag("#{check_status @positions.
                      coordinates(i, j)[0]}", class: "img-position"),
                      edit_position_path(@positions.coordinates(i, j)[0]),
                      remote: true, class: "btn_ps" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>
        <div id="level-modal" class="modal fade"></div>
      </div>
    </div>
  </div>
</div>
