<% provide :title, @position_type.name %>
<div class="banner-w3agile">
  <div class="container">
    <h3>
      <span>
        <%= t (".view") %>
      </span>
    </h3>
  </div>
</div>
<div class="container">
  <div class="col-md-11" >
    <%= tag(:br) %>
    <div class="panel panel-info">

      <div class="panel-heading">
        <h3 class="panel-title center"></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-position-type-information">
              <tbody>
                <tr>
                  <td><%= t ".name" %></td>
                  <td><%= @position_type.name %></td>
                </tr>
                <tr>
                  <td><%= t ".description" %></td>
                  <td><%= @position_type.description %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
